.clock
{
    width: 650px;
    height: 150px;
    margin: 50px auto;
}
.scale5
{
    -webkit-transform: scale(.5);
       -moz-transform: scale(.5);
        -ms-transform: scale(.5);
         -o-transform: scale(.5);
}
.box
{
    position: relative;

    display: inline-block;
    float: left;
    overflow: hidden;

    width: 175px;
    height: 130px;
    margin: 20px 20px;
}
.hour .decade,
.minute .decade,
.second .decade
{
    position: absolute;
    top: 0;
    left: 5px;
}
.hour .unit,
.minute .unit,
.second .unit
{
    position: absolute;
    top: 0;
    left: 100px;
}
.second
{
    bottom: -30px;
    left: -59px;
}
.digit
{
    position: absolute;

    display: inline-block;

    background-color: black;
}
.digit.vdigit
{
    width: 50px;
    height: 10px;
}
.digit.vdigit::before
{
    position: relative;
    top: -5px;
    left: -10px;

    display: inline-block;

    content: '';

    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: transparent black transparent transparent ;
}
.digit.vdigit::after
{
    position: relative;
    top: -5px;
    right: -40px;

    display: inline-block;

    content: '';

    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.digit.vdigit.d1
{
    top: 0;
    left: 10px;
}
.digit.vdigit.d2
{
    top: 60px;
    left: 10px;
}
.digit.vdigit.d3
{
    top: 120px;
    left: 10px;
}
.digit.rdigit
{
    width: 10px;
    height: 50px;
}
.digit.rdigit::before
{
    position: relative;
    top: -15px;
    left: 0;

    display: inline-block;

    content: '';

    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.digit.rdigit::after
{
    position: relative;
    top: 25px;
    right: 0;

    display: inline-block;

    content: '';

    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.digit.rdigit.d4
{
    top: 10px;
    left: -5px;
}
.digit.rdigit.d5
{
    top: 10px;
    left: 65px;
}
.digit.rdigit.d6
{
    top: 70px;
    left: -5px;
}
.digit.rdigit.d7
{
    top: 70px;
    left: 65px;
}
@-webkit-keyframes dot
{
    0%
    {
        background-color: black;
    }
    49%
    {
        background-color: black;
    }
    50%
    {
        background-color: transparent;
    }
    99%
    {
        background-color: transparent;
    }
}
@keyframes dot
{
    0%
    {
        background-color: black;
    }
    49%
    {
        background-color: black;
    }
    50%
    {
        background-color: transparent;
    }
    99%
    {
        background-color: transparent;
    }
}
.dotmain
{
    position: relative;
    top: 50px;
    left: 210px;
}
.dotmain .dot
{
    position: absolute;

    display: inline-block;

    width: 10px;
    height: 10px;

    -webkit-animation-name: dot;

            animation-name: dot;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    background-color: black;
}
.dotmain .dot.dot1
{
    top: 0;
    left: 0;
}
.dotmain .dot.dot2
{
    top: 40px;
    left: 0;
}
